<link rel="stylesheet" type="text/css" href="login/login.template.css" media="screen">

<form id="login">

    <select-language></select-language>

    <div class="imgcontainer">
        <img src="img/client.svg" alt="Avatar" class="avatar">
    </div>

        <label><translation word="name"></translation></label>
        <input trans id="email" type="text"  ng-model="$ctrl.email" required>

        <label><translation word="password"></translation></label>
        <input trans id="password" type="password" ng-model="$ctrl.password" required>

        <br>
        <div style="display: block; overflow: hidden">
        <div vc-recaptcha
             key="'6LcGNDoUAAAAAM6MBt_APekc0isUcLNxPypJck3J'"
             ng-model="$ctrl.captcha">
        </div>
        <input type="submit" value="submit" ng-click="$ctrl.login()">
        <input type="checkbox" checked="checked">
        <p style="display:inline"><translation word="remember_me"></translation></p>
        <span class="psw"><a trans href="#"><translation word="fergot_password"></translation></a></span>
    </div>
    <div class="container" style="background-color:#f1f1f1"></div>
</form>

<button ng-click="$ctrl.debug()"></button>